<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179573780699-5a3jejr5bc977hvkjt47n29f6tu5hqve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179573780699-5a3jejr5bc977hvkjt47n29f6tu5hqve</string>
	<key>API_KEY</key>
	<string>AIzaSyD_pud4ZRc6t-HwXuw75LWEwaAA9CXst-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>179573780699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.purvi.pixelx</string>
	<key>PROJECT_ID</key>
	<string>pixelx-6b163</string>
	<key>STORAGE_BUCKET</key>
	<string>pixelx-6b163.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179573780699:ios:ae214658fec980859c1cfe</string>
	<key>DATABASE_URL</key>
	<string>https://pixelx-6b163.firebaseio.com</string>
</dict>
</plist>